<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
	<form th:action="@{/user/signin}" method="post">
		<div th:if="${param.error}">
			<div class="alert alert-danger">
				Check name or password.
			</div>
		</div>
		<div class="mb-3">
			<label for="username" class="form-label">name</label>
			<input type="text" name="username" id="username" class="form-control">
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">password</label>
			<input type="password" name="password" id="password" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Sign in</button>
	</form>
</div>

</html>