<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<form th:action="@{/question/list}" method="get" class="mb-3">
	    <div class="input-group">
	        <input type="hidden" name="sort" th:value="${sort}">
	        <input type="text" name="keyword" 
	               th:value="${keyword}" 
	               class="form-control" placeholder="제목 검색">
	        <button type="submit" class="btn btn-primary">검색</button>
	    </div>
	</form>
	<div class="mb-2">
	    <a href="?sort=recent" 
		   th:classappend="${sort == 'recent'} ? 'active'" 
		   class="btn btn-sm btn-outline-primary">최신순</a>
		
		<a href="?sort=old" 
		   th:classappend="${sort == 'old'} ? 'active'" 
		   class="btn btn-sm btn-outline-secondary">오래된순</a>
		
		<a href="?sort=subject" 
		   th:classappend="${sort == 'subject'} ? 'active'" 
		   class="btn btn-sm btn-outline-dark">제목순</a>
	</div>
	<table class="table">
		<thead class="table-light">
			<tr>
				<th class="text-center">번호</th>
				<th>제목</th>
				<th class="text-center">작성일시</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="question, loop: ${questionList}">
				<td class="text-center" th:text="${loop.count}"></td>
				<td>
				    <a th:href="@{|/question/detail/${question.id}|}" 
				       class="text-decoration-none"
				       th:text="${question.subject}"></a>
				</td>
				<td class="text-center" 
				    th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/question/create}" class="btn btn-light">질문 등록하기</a>
</div>
</html>